body {
  font-family: Arial, sans-serif;
  background-color: #000000; /* Black background color */
  padding: 20px;
  text-align: center;
  color: #FFFFFF; /* White text color */
  transition: background-color 0.3s ease-in-out;
}

h1 {
  color: #FFFFFF;
}

p {
  color: #CCCCCC; /* Light gray text color */
  line-height: 1.6;
  margin-bottom: 20px;
}

.discord-link {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #7289DA;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.discord-link:hover {
  background-color: #FFD700; /* Yellow background color on hover */
}

.twitter-link {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #000000; /* Black background color */
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.twitter-link:hover {
  background-color: #FFFFFF; /* White background color on Twitter button hover */
}
