body {
  font-family: Arial, sans-serif;
  background-color: #000000; /* Black background color */
  padding: 20px;
  text-align: center;
  color: #FFFFFF; /* White text color */
  transition: background-color 0.3s ease-in-out;
}

h1 {
  color: #FFFFFF;
}

p {
  color: #CCCCCC; /* Light gray text color */
  line-height: 1.6;
  margin-bottom: 20px;
}

.discord-link {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #7289DA;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.discord-link:hover {
  background-color: #FFD700; /* Yellow background color on hover */
}

.twitter-link {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.twitter-link:hover {
  background-color: #1DA1F2; /* Twitter blue background color on hover */
}

.twitter-link::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: radial-gradient(#1DA1F2, transparent);
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.twitter-link:hover::before {
  opacity: 1;
  transform: scale(1);
}

.twitter-link:hover {
  background-color: #000000; /* Black background color on Twitter button hover */
}

.twitter-link:hover body {
  background-color: #000000; /* Black background color on Twitter button hover */
}
