.twitter-link {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #000000;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.twitter-link:hover {
  background-color: #000000;
  transform: scale(1.1);
}

.twitter-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 5px rgba(29, 161, 242, 0.8);
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.twitter-link:hover::before {
  opacity: 1;
  transform: scale(1);
}
